.timeDisplay {
    text-align: center;
    font-size: 25.5vw;
}

a {
    color: black;
}
a:hover {
    background-color: lightgreen;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 10;
    width: 100%;
    text-align: center;
 }